<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach (function(item) { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name ="checkbox" value="<%= item._id %>" onChange="this.form.submit()"> <%# onChange is going to work when the checkbox is checked ir unchecked, which will submit the current form that it is in to the delete route%><%# giving it a name will allow us to tap into it %><%# binding the id of the iem using value helps us to find out which item was checked %>
          <p><%=  item.name  %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
      <% }) %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button> <%# adding value gives access to list (name) as well as newItem(name) %> 
      </form>
  </div>

<%- include("footer") -%>
